@import "tailwindcss";

@theme {
  --color-primary: #A992FF;
  --color-secondary: #F3F3F5;
  --color-text: #1A1A1A;
  --color-accent: #5C33FF;
  --color-highlight: #FFAB00;
}

@custom-variant dark (&:where(.dark, .dark *));

/* Tu peux aussi définir les polices et autres variables CSS ici */
body {
  font-family: 'Inter', sans-serif;
}

/* Reset et normalisation */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}